<div  class="container-fluid" class='fade'>
<div class="row">
    <div class="col-md-6 col-md-offset-3 text-center ">
        <img id="img" src="../assets/seyi.jpg">
        <h1 typed>Hi, I'm Seyi.</h1>
        <p> I'm a young systems engineer based in Lagos.<br> I offer Product design, Software development and System integration services.
            You can get my resume <a href="https://drive.google.com/file/d/0Byx5Xy-KxCqiYS1VWkdvQ0o1SnM/view?usp=drive_web" target="_blank"><span class="lang">here</span></a> if you're interested.<br>
        </p>
        <div id="btn_container">
            <a href="https://www.github.com/seyi-adeleke" target="_blank"> <button class="sm-links"><i class="fa fa-github"></i></button></a>
            <a href="https://www.twitter.com/seyi__adeleke" target="_blank"><button class="sm-links"><i class="fa fa-twitter"></i></button></a>
            <a href="https://www.instagram.com/seyi_adeleke/" target="_top"> <button class="sm-links"><i class="fa fa-instagram"></i></button></a>
            <a href="https://ng.linkedin.com/in/seyiadeleke" target="_blank">  <button class="sm-links"><i class="fa fa-linkedin"></i></button></a>
        </div>
    </div>
 </div>
</div>