<div  class="container-fluid">
    <div class="row">
        <div id="thanks" class="col-md-6 col-md-offset-3 text-center lead">
            Thanks for reaching out, I'll get back to you as soon as possible.<br>
            Meanwhile you can follow me on twitter for interesting links, memes, emojis and banter.
            <span style="color: firebrick">&#x1F525;</span>
            <div id="btn_container2">
                <a href="https://www.github.com/seyi-adeleke" target="_blank"> <button class="sm-links"><i class="fa fa-github"></i></button></a>
                <a href="https://www.twitter.com/seyi__adeleke" target="_blank"><button class="sm-links"><i class="fa fa-twitter"></i></button></a>
                <a href="https://www.instagram.com/seyi_adeleke/" target="_top"><button class="sm-links" ><i class="fa fa-instagram"></i></button></a>
                <a href="https://ng.linkedin.com/in/seyiadeleke" target="_blank"><button class="sm-links"><i class="fa fa-linkedin"></i></button></a>
            </div>
        </div>
    </div>
</div>