<div  class="container-fluid">
    <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center">
            <p class="lead">I've held a number of jobs in the start-up ecosystem.<br>
                I've worked as a <span class="job"ng-click="work.toggle()"><strong>{{work.job}} </strong></span> at <span class="job"><strong><a target="_blank" ng-href="{{work.employerLink}}">{{work.employer}}</a></strong></span>.<br>
                Presently, i'm comfortable with the MEAN stack (<span class="lang">Mongo</span>, <span class="lang">Express</span>, <span class="lang">Angular</span> and <span class="lang">Node</span>).
                I write relatively decent <span class="lang">HTML</span> and <span class="lang">CSS</span> and a bit of <span class="lang">C#</span> and <span class="lang">Python</span>.<br />
                I currently work as a software engineer at <a href="https://andela.com" class="lang">Andela</a>
            </p>
            <p>These are some Personal projects I feel comfortable sharing.</p>
            <div  class="container-fluid">
              <div class="row flex-row">
                <div class="col-lg-4 col-xs-12">
                    <div class="thumbnail">
                        <div class="caption">
                            <h4>Github Search</h4>
                            <p>A tool for locating github repositories built with HTML5 and jquery</p>
                            <a href="https://seyi-adeleke.github.io/github-search/" target="_blank"class="btn btn-info btn-xs" role="button">Visit</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-xs-12">
                    <div class="thumbnail">
                        <div class="caption">
                            <h4>Virtual Standups</h4>
                            <p>A tool for recording and storing daily standup notes for virtual teams built with the mean stack</p>
                            <a href="https://virtual-standups.herokuapp.com/"  target="_blank"class="btn btn-info btn-xs" role="button">Visit</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-xs-12">
                    <div class="thumbnail">
                        <div class="caption">
                            <h4>Nigerian states Api</h4>
                            <p>An API for basic information about all 36 states in Nigria, built with Node and Mongo</p>
                            <a href="https://nigerian-states-info.herokuapp.com"  target="_blank"class="btn btn-info btn-xs" role="button">Visit</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-xs-12">
                    <div class="thumbnail">

                        <div class="caption">
                            <h4>Keycode info</h4>
                            <p>A fork of @wesbos' <a  target="_blank" href="http://www.keycode.info">keycode.info</a> implemented with service workers and local storage</p>
                            <a  target="_blank" href="https://keycodes-d578a.firebaseapp.com/" class="btn btn-info btn-xs" role="button">Visit</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-xs-12">
                    <div class="thumbnail">
                        <div class="caption">
                            <h4>Pomodoro Timer</h4>
                            <p>An implementation of the pomodoro technique for improving productivity</p>
                            <a href="https://seyi-adeleke.github.io/pomodoro-timer/"  target="_blank" class="btn btn-info btn-xs" role="button">Visit</a>
                        </div>
                    </div>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>