<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center">
            <p class="lead">I've held a number of jobs in the start-up ecosystem.<br> I've worked as a <a href=""><span class="job" ng-click="work.toggle()"><strong>{{work.job}}</strong></span> </a>               at <span class="job"><strong><a target="_blank" ng-href="{{work.employerLink}}">{{work.employer}}</a></strong></span>.<br>                Presently, i'm comfortable with the MEAN stack (<span class="lang">Mongo</span>, <span class="lang">Express</span>,
                <span class="lang">Angular</span> and <span class="lang">Node</span>). I write relatively decent <span class="lang">HTML</span>                and <span class="lang">CSS</span> and a bit of <span class="lang">C#</span> and <span class="lang">Python</span>.<br
                /> I currently work as a software engineer at <a href="https://andela.com" class="lang">Andela</a>
            </p>
            <p>These are some Personal projects I feel comfortable sharing.</p>
            <div class="container-fluid">
                <div class="row display-flex">
                    <div class="col-lg-4 col-xs-12">
                        <div class="thumbnail">
                            <div class="caption text-justify">
                                <h4><i><b>Github Search</b></i></h4>
                                <p> A tool for locating github repositories built with <span class="lang">HTML5</span> and
                                    <span class="lang">jquery</span>
                                </p>
                                <br>
                                <a href="https://seyi-adeleke.github.io/github-search/" target="_blank" class="btn btn-info btn-xs" role="button">Visit</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-xs-12">
                        <div class="thumbnail">
                            <div class="caption text-justify">
                                <h4><i><b>Virtual Standups</b></i></h4>
                                <p>A tool for recording and storing daily standup notes for virtual teams built with the
                                    <span class="lang">mean</span> stack</p>
                                <a href="https://virtual-standups.herokuapp.com/" target="_blank" class="btn btn-info btn-xs" role="button">Visit</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-xs-12">
                        <div class="thumbnail">
                            <div class="caption text-justify">
                                <h4><i><b>Nigerian states Api</b></i></h4>
                                <p>An API for basic information about all 36 states in Nigria, built with <span class="lang">Node</span>                                    and <span class="lang">Mongo</span></p>
                                <a href="https://nigerian-states-info.herokuapp.com" target="_blank" class="btn btn-info btn-xs" role="button">Visit</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-xs-12">
                        <div class="thumbnail">
                            <div class="caption text-justify">
                                <h4><i><b>Keycode info</b></i></h4>
                                <p>A fork of @wesbos' <a target="_blank" href="http://www.keycode.info">keycode.info</a> implemented
                                    with service workers and local storage</p>
                                <a target="_blank" href="https://keycodes-d578a.firebaseapp.com/" class="btn btn-info btn-xs" role="button">Visit</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-xs-12">
                        <div class="thumbnail">
                            <div class="caption text-justify">
                                <h4><i><b>Headlines</b></i></h4>
                                <p>A modern rss feed  that helps you search for various news headlines from around the world, built with <span class="lang">react</span> and the <span class="lang">flux</span> architecture</p>
                                <br>
                                <a href="https://news-headlines-cp1-staging.herokuapp.com/" target="_blank" class="btn btn-info btn-xs" role="button">Visit</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-xs-12">
                        <div class="thumbnail">
                            <div class="caption text-justify">
                                <h4><i><b>Docman</b></i></h4>
                                <p>A document management Api complete with authentication, authorization and role based privileges, built using <span class="lang">Nodejs</span> and <span class="lang">postgres</span></p>
                                <a href="https://docman-cp2-staging.herokuapp.com" target="_blank" class="btn btn-info btn-xs" role="button">Visit</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>